body {
  font-family: 'Open Sans', 'Lucida Grande', arial, sans-serif;
  margin: 13% 30%;
}

.todo-container {
  box-shadow: 5px 15px 30px 0 #888;
  padding: 10px;
}

.todo-container a {
  text-decoration: none;
}

article span {
  float: right;
}

.todo-container h3 {
  font-weight: lighter;
}

.add-list span,
.todo-container h3 span {
  float: right;
  opacity: 0.5;
}

.line-break {
  border-top: 1px solid #f1eaeaf2;
}

.add-list {
  opacity: 0.5;
}

.clear-completed p {
  text-align: center;
  opacity: 0.5;
  text-decoration: none;
}

.complete {
  text-decoration: line-through;
  opacity: 0.3;
}

.inputField {
  border: none;
  width: 80%;
}

.text-area-class {
  border: none;
  resize: none;
  width: 70%;
}

.todo-btn {
  border: none;
  background: transparent;
  float: right;
}

.input-div-span {
  float: right;
  padding-right: 15px;
  opacity: 0.6;
}

.input-div {
  width: 100%;
}
